<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <section name="DbResourceConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <system.web>
  <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <authentication mode="Forms">
      <forms requireSSL="true" loginUrl="/Account/Login" protection="All" path="/" slidingExpiration="true">

      </forms>
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <globalization culture="en-GB" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6">

      <assemblies>
	   <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />   
        <add assembly="DevExpress.Web.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="DevExpress.Web.ASPxTreeList.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
		<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" maxRequestLength="30000000" executionTimeout="3600" />
    <sessionState mode="InProc" timeout="120" />
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider" />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" enablePasswordReset="true" />
      </providers>
    </membership>
    <roleManager defaultProvider="SimpleRoleProvider">
      <providers>
        <remove name="MySQLRoleProvider" />
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>

    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" />

      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
      <add verb="GET" path="JavaScriptResourceHandler.axd" type="Westwind.Globalization.JavaScriptResourceHandler,Westwind.Globalization.Web" />

      <add verb="GET" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <pages validateRequest="false" enableEventValidation="false">
      <namespaces>
        <add namespace="Westwind.Utilities" />
        <add namespace="Westwind.Web" />
        <add namespace="Westwind.Web.Controls" />
        <add namespace="Westwind.Globalization" />
      </namespaces>
      <controls>
        <add tagPrefix="ww" namespace="Westwind.Web.Controls" assembly="Westwind.Web.WebForms" />
      </controls>
    </pages>
    <!--<globalization resourceProviderFactoryType="Westwind.Globalization.DbSimpleResourceProviderFactory,Westwind.Globalization.Web" />
      <trust originUrl="(http://www.google.com/translate_t)|(http://api.microsofttranslator.com/V2/Http.svc/Translate)|(https://datamarket.accesscontrol.windows.net/v2/OAuth2-13)" />-->
    <!--<globalization culture="en-GB" uiCulture="en-GB" />-->
  </system.web>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\SeritiApp_.log" />
      <datePattern value="yyyy-MM-dd'-FULL.log'" />
      <appendToFile value="true" />
      <preserveLogFileNameExtension value="true" />
      <rollingStyle value="Date" />
      <maximumFileSize value="250KB" />
      <maxSizeRollBackups value="-1" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
<!-- <add name="SeritiMasterEntities" connectionString="metadata=res://*/SeritiMasterEntities.csdl|res://*/SeritiMasterEntities.ssdl|res://*/SeritiMasterEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=seritiapp.cloudapp.net;initial catalog=SeritiMaster;user id=seritiapp;password=IPp50T5PSf;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <!-- <add name="DefaultConnection" connectionString="data source=seritiapp.cloudapp.net;initial catalog=SeritiMaster;persist security info=False;user id=seritiapp;password=IPp50T5PSf" providerName="system.data.sqlclient"/> -->
	 <add name="DefaultConnection" connectionString="data source=seritiapp.cloudapp.net;initial catalog=SeritiMaster;persist security info=False;user id=seritiapp;password=IPp50T5PSf" providerName="system.data.sqlclient" /> 
     <add name="SeritiMasterEntities" connectionString="metadata=res://*/SeritiMasterEntities.csdl|res://*/SeritiMasterEntities.ssdl|res://*/SeritiMasterEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=seritiapp.cloudapp.net;initial catalog=SeritiMaster;user id=seritiapp;password=IPp50T5PSf;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	
</connectionStrings>
  <appSettings>
  <!--Emirate-->
      <add key="EmirateDownloadJavaWin32bit" value="/ToolkitWebSample/SetupFiles/Java/Windows/jre-8u202-windows-i586.exe" />
      <add key="EmirateDownloadJavaWin64bit" value="/ToolkitWebSample/SetupFiles/Java/Windows/jre-8u202-windows-x64.exe" />
      <add key="EmirateDownloadApacheTomcatWin64bit" value="/ToolkitWebSample/SetupFiles/Apache Tomcat/Windows/apache-tomcat-7.0.92.zip" />
      <add key="EmirateDownloadJavaMac" value="/ToolkitWebSample/SetupFiles/Java/Mac/jre-8u202-macosx-x64.tar.gz" />
      <add key="EmirateDownloadApacheTomcatMac" value="/ToolkitWebSample/SetupFiles/Apache Tomcat/Mac/apache-tomcat-7.0.92.tar.gz" />
      <add key="EmiratesUtilityHelpFile" value="/ToolkitWebSample/SetupFiles/EID HelpFile.pdf" />
      <add key="EmiratesUtilityReleaseNote" value="" />
    <!---->
	<add key="Environment" value="/staging/" />
    <add key="webPages:Version" value="3.0.0.0" />
    <add key="ActiveConnectionString" value="Seriti" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--Email Setting -->
    <add key="AllowSendingEmail" value="1" />
    <add key="FromEmailID" value="supportae@seritisolutions.com" />
    <add key="RememberMe" value="2" />
    <!-- Hours-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="BankAPIProduction" value="false" />
    <add key="DocumentUploadPath" value="~/SavedFiles/" />
    <add key="ImportUploadPath" value="~/ImportedFiles/" />
    <add key="DocumentPath" value="http://" />
    <add key="GridPageSize" value="10" />
    <add key="MaxFileSize" value="5120" />
    <add key="ReportUploadPath" value="~/ReportSnapShots/" />
    <add key="DOCDummyDataCount" value="0" />

    <!--File Size in KB  -->
    <add key="ShowCustomError" value="true" />
    <add key="ApplicationVersion" value="V40.0" />
    <add key="DeploymentEnvironment" value="Box - Staging Database" />
    <add key="TransactionAccessoryCount" value="3" />
    <add key="Glimpse:DisableAsyncSupport" value="true" />

    <!--<add key="AzureSavedFilesFilePath" value="http://seriti.blob.core.windows.net:80/developmentdynamicassets/SavedFiles/"/>
    <add key="AzureImportedFilesFilePath" value="http://seriti.blob.core.windows.net:80/developmentdynamicassets/ImportedFiles/"/>
    <add key="AzureReportSnapShotsFilePath" value="http://seriti.blob.core.windows.net:80/developmentdynamicassets/ReportSnapShots/"/>-->
    <add key="ACCOUNTNAME" value="seriti" />
    <add key="ACCOUNTKEY" value="Ye8Q/cR3y7fzTJIKUPQpPVfeNe5Ii6V9Tqcel1g2oYTcHAKIaPim/rdthnFwVbGoqaanDN7S2HBnV2JcUwREkg==" />
    <add key="CONTAINER" value="developmentdynamicassets/" />
	<add key="CONTAINERNAME" value="developmentdynamicassets" />
	  <add key="BLOBPROTOCOL" value="http" />
	<add key="BLOBURIHTTPS" value="https://seriti.blob.core.windows.net/" />
    <add key="BLOBURI" value="http://seriti.blob.core.windows.net:80/" />
    <add key="CommonSave" value="true" />
    <add key="AzureUploadFlag" value="false" />
    <add key="MVCFlag" value="false" />
    <add key="URLPath" value="staging" />
    <add key="HFAURLPath" value="https://test.seriti-int.com/Staging/" />
    <add key="IsDeleteLogs" value="0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="HFAErrorToEmail" value="helenf@seritisolutions.com,vyankateshs@seritisolutions.com" />
	<add key="IsHTTPS" value="true" />
	<add key="useDALASStatus" value="1" />
<add key="EmiratesUtilityURL" value="https://test.seriti-int.com/staging/ToolkitWebSample/" />
 <add key="EmiratesUtilityJNLPURL" value="https://test.seriti-int.com/staging/ToolkitWebSample/IDCardToolkitService.jnlp" />
  <add key="EmiratesUtilityHELP" value="https://test.seriti-int.com/staging/SavedFiles/EID HelpFile.pdf" />
    <!--Added by Ganesh 1or SAML-->
    <add key="SAMLCodeFlag" value="2" />
    <add key="SAMLRequest" value="https://adfs.iceplatform.net/adfs/ls/" />
	<add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
	 <add key="BranchDocumentPath" value="https://test.seriti-int.com/staging/" />
	 <add key="SharedAccessExpiryTime" value="10" />
	  <add key="HFADefaultCSS" value="http://seriti.blob.core.windows.net:80/stagingfiles/SavedFiles/Default_HFA.css"/>
	  <!--IronPdf -->
    <add key="IronPdfKey" value="IRONPDF-9061867423-123750-102ED2-60CA23763D-D4578578-UEx280EE832400C7D8-WINJITTECHNOLOGIES.IRO200303.7779.29133.PRO.1DEV.1YR.SUPPORTED.UNTIL.04.MAR.2020"/>
    
     <!--Added by Saif-->
	<add key="ReportSchedulerHost" value="ftp://waws-prod-db3-029.ftp.azurewebsites.windows.net/site/wwwroot" />
	<add key="ReportSchedulerUserName" value="seritistaging\$seritistaging" />
	<add key="ReportSchedulerPassword" value="Y0nadYsmwA3WHlybSh6Hf2mf7hHKxemx05N4JAurayMwpGxTyx10srDbnmkv" />

	</appSettings>
  <system.webServer>
  <directoryBrowse enabled="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
      <add name="ScriptCompressionModule" type="Westwind.Web.ScriptCompressionModule,Westwind.Web" />

      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.16.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="JavaScriptResourceHandler" verb="GET" path="JavascriptResourceHandler.axd" type="Westwind.Globalization.JavaScriptResourceHandler,Westwind.Globalization.Web" />

    </handlers>
	<httpProtocol>
      <customHeaders>                                        
        <add name="cache-control" value="private,must-revalidate,no-store" />       
        <add name="Access-Control-Allow-Methods" value="GET,POST" />
		  <add name="Access-Control-Allow-Origin" value="*" />
        <clear />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
	  <requestLimits maxAllowedContentLength="4294967295" maxUrl="2048">
          <headerLimits>
            <add header="Content-type" sizeLimit="100" />
          </headerLimits>
        </requestLimits>
        <fileExtensions>
          <add fileExtension=".axd" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Account/Login" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension="." mimeType="application/octet-stream" />
      <mimeMap fileExtension=".jnlp" mimeType="application/x-java-jnlp-file" />
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
    </staticContent>
    <httpErrors existingResponse="PassThrough"></httpErrors>
  </system.webServer>
  <system.net>
    <mailSettings>
	  <smtp deliveryMethod="Network" from="system@seriti-int.com">
        <network host="smtp.office365.com" port="587" userName="system@seriti-int.com" password="Seriti@987" enableSsl="true" defaultCredentials="false" />
      </smtp>
	
      <!-- <smtp deliveryMethod="Network" from="serititesting@gmail.com"> -->
        <!-- <network shost="smtp.gmail.com" port="587" userName="serititesting@gmail.com" password="S3r1t1@123" enableSsl="true" defaultCredentials="false"/> -->
      <!-- </smtp> -->
    </mailSettings>
  </system.net>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings rightToLeft="false" />
    <errors callbackErrorRedirectUrl="~/Account/Login" />
  </devExpress>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <DbResourceConfiguration>
    <add key="ConnectionString" value="ElmahConnection" />
    <add key="ResourceTableName" value="Localizations" />
    <add key="ResxExportProjectType" value="Project" />
    <add key="StronglyTypedGlobalResource" value="~/Properties/Resources.cs" />
    <add key="ResourceBaseNamespace" value="SeritiApp.Web.App_LocalResources" />
    <add key="ResxBaseFolder" value="~/Properties/" />
    <add key="AddMissingResources" value="False" />
    <add key="LocalizationFormWebPath" value="~/LocalizationAdmin/" />
    <add key="BingClientId" value="" />
    <add key="BingClientSecret" value="" />
  </DbResourceConfiguration>

  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="DefaultConnection" />
    <security allowRemoteAccess="true" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
   <system.serviceModel>
      <bindings>
      <customBinding>
        <binding name="CustomHttpBindingCustom" receiveTimeout="01:00:00">
          <textMessageEncoding messageVersion="Soap11" />
          <security authenticationMode="MutualCertificate" requireSecurityContextCancellation="true">
            <secureConversationBootstrap allowInsecureTransport="false" authenticationMode="MutualSslNegotiated" requireSecurityContextCancellation="true"></secureConversationBootstrap>
          </security>
          <httpsTransport requireClientCertificate="true" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="Lms3piService">
          <!-- Binding property values can be modified here. -->
          <!-- See the next procedure. -->
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="https://qa.wesbank.co.za/wesbankAfrica_external/bus/account/applyLoan/v1" binding="customBinding" bindingConfiguration="CustomHttpBindingCustom" contract="ServiceReferenceWesBank.Lms3piService" name="CustomHttpBindingCustom">
        <identity>
          <dns value="wesbank.co.za" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>


##edited
